**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules
__pycache__/
tests/cl-v6/.cache/
tests/cl-v7/.cache/
tests/cl-v6/deployments/
tests/cl-v7/deployments/
tests/rv-v6/.cache/
tests/rv-v6/deployments/
